body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

header div {
  display: block;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-title {
  padding: 1px 0 20px 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.page-title .title {
  padding-top: 25px;
}

.page-title p h1 {
  margin-left: 1em;
}

.page-title .sub {
  font-size: 1.4em;
  margin-block-end: 0;
}

.page-title h1 {
  margin-block-start: 0.2em;
}

.page-title .topbar {
  margin-top: 0.2em;
}

.page-title .links {
  float: right;
}

.page-title .topbar a {
  margin-right: 0.8em;
  font-size: 1em;
  font-weight: 300;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.cards {
  display: table;
  margin-top: 2.01em;
}

.cards .card {
  float: left;
  margin: 0.7em;
  border: 1px solid #BFBFBF;
  width: 200px;
  height: 300px;
  padding-bottom: 0.5em;
}

.cards .card .name {
  margin: 0.5em;
  font-weight: bold;
  color: black;
}

.cards .card:hover {
  box-shadow: 3px 4px 2.5px #aaaaaa;
}

.cards .titleImg {
  background-color: #aaaaaa;
  width: 200px;
  height: 250px;
}

#newPageIcon {
  font-size: 80px;
}

#newPageButton {
  position: absolute;
  margin-left: 60px;
  margin-top: 100px;
}

#newCard:hover {
  box-shadow: none;
}

#newCard {
  border: none;
}

.App .contents {
  min-height: 32em;
}

.footer {
  margin-top: 2.8em;
  margin-bottom: 1em;
  text-align: center;
}

.footer .MuiSvgIcon-root {
  color: #666;
  font-size: 1.3em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.footer .MuiSvgIcon-root:hover {
  color: #67bce7;
}

.footer .busuanzi {
  font-size: 14px;
  font-weight: 300;
}

.comments {
  margin-top: 1.2em;
}

#comments-content {
  display: block;
}

.utterances {
  max-width: 1160px;
}
