.netView canvas {
  max-width: 99.7%;
  min-height: 30em;
  border: 1px solid #BFBFBF;
}

canvas {
  outline: none;
  background-color: white;
}

.toolbar {
  height: 1em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

button:focus {outline:0;}
button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

button {
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27,31,35,.15);
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
}

.toolbar .rightside {
  float: right;
}

.toolbar button {
  margin-left: 1em;
}

.canvas-wrap {
  position: relative
}

.infoBoard {
  background-color: #ababab;
  width: 250px;
  height: 260px;
  position:absolute;
  box-shadow: 3px 4px 2.5px #aaaaaa;
  opacity: 0.85;
}

.infoBoard .content {
  padding: 10px;
}

.infoBoard .title {
  margin-top: 10px;
}

.infoBoard .name {
  font-weight: bold; 
  font-size: 20px;
  display: inline;
}

.infoBoard .categorie {
  font-weight: bold;
  font-size: 12px;
  display: inline;
}

.infoBoard .describe {
  margin-top: 10px;
  font-size: 10px;
}

.infoBoard img {
  display: block;
  max-width: 200px;
  max-height: 130px;
  margin-left: auto;
  margin-right: auto;
}

.infoBoard .link {
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.react-tabs__tab {
  font-size: 1.1em;
  font-weight: 200;
}

.react-tabs__tab-list {
  margin-bottom: 0;
}

.viewControl {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.viewControl .MuiSvgIcon-root {
  font-size: 1.6rem;
  color: #666;
  padding-right: 0.2em;
}

.viewControl .MuiSvgIcon-root:hover {
  color: #48b3e9;
  transform: translateY(-0.5px);
}

.viewControl .MuiSvgIcon-root:active {
  transform: translateY(0.5px);
}

.EditOptionsDialog {
  display: inline;
}

#edit-options-content {
  font-size: 1.1em;
  resize: none;
}
